* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, serif;
}

.book-table {
  background-color: blur(1rem);
  box-shadow: 0px 0px 20px 0px rgba(133, 131, 131, 0.3);
  backdrop-filter: blur(16px) saturate(180%);

  .table-grid-select {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 20px;
  }

  .calendar-buttons {
    border: 1px solid rgb(143, 143, 143);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 20px 0px rgba(133, 131, 131, 0.3);
      border-radius: 10px;
      transition: 300ms background-color;
      background-color: rgb(255, 255, 255);

      &:hover {
        background-color: rgb(231, 231, 231);
        cursor: pointer;
      }

      svg {
        scale: 0.5;
      }
    }
  }

  .sorted-calendars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.calendar-container {
  width: 400px;
  border-right: 1px solid rgba(100, 100, 100, 0.2);
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 20px;
  margin: 10px 25px;

  .month-name {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 14px;
  }

  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-bottom: 8px;
    margin-bottom: 8px;

    .week-name {
      color: red;
    }
  }

  .days-of-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .start-date-selected {
      background-color: rgb(35, 177, 0) !important;
      box-shadow: 0px 0px 20px 0px rgba(35, 177, 0, 0.5);
      color: white;
    }

    .end-date-selected {
      background-color: rgb(177, 121, 0) !important;
      box-shadow: 0px 0px 20px 0px rgba(177, 121, 0, 0.5);
      color: white;
    }

    .current-day {
      color: red;
      border: 1px solid red;
    }

    .disabled-day {
      pointer-events: none !important;
    }

    .day-container {
      box-shadow: 0px 0px 20px 0px rgba(172, 172, 172, 0.3);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 3px 6px;
      margin: 3px;
      background-color: rgb(255, 255, 255);

      &:hover {
        background-color: rgb(231, 231, 231);
        cursor: pointer;
      }

      .day {
        font-weight: 700;
        pointer-events: none;
      }

      .price {
        font-size: 11px;
        pointer-events: none;
      }
    }
  }
}
